<html style="text-align: center" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />

    <link rel="stylesheet"  href="../libs/css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="../libs/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet"  href="../libs/css/select2.min.css" />

    <link rel="stylesheet"  href="../libs/css/jquery-ui.min.css" />

    <script src="../libs/js/jquery-2.2.2.min.js"></script>
    <script src="../libs/js/bootstrap.min.js"></script>
    <script src="../libs/js/select2.min.js"></script>

    <script src="../libs/js/jquery-ui.min.js"></script>

     <script src="../libs/js/request.js"></script>



</head>
<body style="text-align: left" >


<div  style="width:580px;margin-top: 50px;margin-left: auto;margin-right: auto;margin-bottom: 50px;" >

    {{ .curr_user.Name }}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">from repo</a> </li>
            <!--
            <li><a href="#tabs-2">from repo  file</a></li>
            <li><a href="#tabs-3">from file</a></li>
            -->
        </ul>
        <div id="tabs-1">

            <select id="repolist" class="repolist" >
                <option value="-1"></option>
            </select>


            <select id="branlist" class="branlist">
                 <option value="-1"></option>
            </select>


            <select id="srvlist" class="srvlist" >
                 <option value="-1"></option>
            </select>
            </br>
            <button id="checkreq">add</button>
        </div>


    </div>

        <div style="margin-top: 100px;">
            <table id="queue" border="0" width="100%">
                    <tr>
                        <th>ITEM</th>
                        <th></th>
                        <th></th>
                        <th>SERVER</th>
                        <th></th>

                    </tr>
            {{with .queues}}

                {{range .}}
                 <tr>
                     <td>{{.Name}}</td>
                     <td>{{.Branch}}</td>

                     <td>{{ .Branch_test }}</td>
                     <td>{{.Server}}</td>
                    {{ if eq .Branch_test_status "queue" }}
                      <td><a class='delrow' id="task{{ .Taskid }}">x</a></td>
                     {{ else }}

                     <td>

                         {{ if eq .Branch_test_status "pass" }}
                            <a class='requ_upto' id="task{{ .Taskid }}">pubto</a>
                    {{ else }}

                         <a id="task{{ .Taskid }}">{{ .Branch_test_status }}</a>
                     {{ end }}

                     </td>
                     {{ end }}

                 </tr>
                {{end}}

                {{end}}
            </table>
        </div>
    <button id="apply_test" style="float: left;margin-top: 100px;margin-left: auto;margin-right: auto">apply test</button>
    <div class="tabbable" id="logpage" style="margin-top: 200px" >
        <p><hr></p>
        <table id="status"  width="100%">

        {{with .works}}
            {{ range .}}

                <tr>
                    <td>{{ .Name }}</td><td>{{ .Branch }}</td><td>{{ .Branch_test }}</td><td><samp id="reco{{ .Taskid }}">{{ .Branch_test_status }}</samp></td><td>{{ .Owen }}</td>
                </tr>


            {{ end }}
        {{end}}


    </table>
    </div>

</div>

</body>


</html>
