<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login|Pbsys</title>
    <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
    <script type="text/javascript" src="../libs/js/jquery-1.12.2.min.js"></script>
</head>
<body style="text-align:center">
<div class="container">
    <form method="post">
username
<input id="login-username" name="username" type="text">
password
<input name="password" type="password">
role
<select name="role">
    <option value ="deve">deve</option>
    <option value ="test">test</option>
    <option value ="prod">prod</option>
</select>
        <input type="submit" value="login">
</form>
    </div>
</body>
</html>