<html style="text-align: center" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />

    <link rel="stylesheet"  href="../libs/css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="../libs/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet"  href="../libs/css/select2.min.css" />

    <link rel="stylesheet"  href="../libs/css/jquery-ui.min.css" />

    <script src="../libs/js/jquery-2.2.2.min.js"></script>
    <script src="../libs/js/bootstrap.min.js"></script>
    <script src="../libs/js/select2.min.js"></script>

    <script src="../libs/js/jquery-ui.min.js"></script>

     <script src="../libs/js/request.js"></script>



</head>
<body style="text-align: left" >


<div  style="width:580px;margin-top: 50px;margin-left: auto;margin-right: auto;margin-bottom: 50px;" >

    {{ .curr_user.Name }}

    <div id="tabs">
        <ul>
            <!--
            <li><a href="#tabs-1">from repo</a> </li>

            <li><a href="#tabs-2">from repo  file</a></li>
            <li><a href="#tabs-3">from file</a></li>
            -->
        </ul>
        <div id="tabs-1">

        </div>


    </div>

        <div style="margin-top: 100px;">
            <table id="test_queue" border="0" width="100%">
                    <tr>
                        <th>ITEM</th>
                        <th></th>
                        <th></th>
                        <th>SERVER</th>
                        <th></th>
                    </tr>

            {{with .queue}}


                {{range .}}

                {{ if ne .Branch_test_status "queue" }}
                 <tr>
                     <td>{{.Name}}</td>
                     <td>{{.Branch}}</td>
                     <td>{{ .Branch_test }}</td>
                     <td>{{.Server}}</td>

                     <td>

                         <select id="receive_test{{ .Taskid }}">
                             <option value={{ .Taskid }}>{{ .Branch_test_status }}</option>
                             {{ if eq .Branch_test_status "wait"}}
                                <option value={{ .Taskid }}>{{ .Branch_test_status }}->Ok</option>
                             {{ end }}
                             {{ if eq .Branch_test_status "testing"}}
                                <option value={{ .Taskid }}>{{ .Branch_test_status }}->Ok</option>
                                <option value={{ .Taskid }}>{{ .Branch_test_status }}->NotPass</option>
                             {{ end }}

                        </select>
                         <button class="but_receive_test">ok</button>
                     </td>


                 </tr>
                {{ end }}
                {{end}}

            {{end}}
            </table>
        </div>



    </div>

</div>

</body>


</html>
